{% extends 'blog/base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block text %}

<div class="panel panel-default">
  <div class="panel-heading">Контактная информация</div>
  <div class="panel-body">
      <p>Со мной можно связаться в соц. сетях или по эл. почте:</p>
      <br>
      <ol class="list-unstyled">
          <li><a href="https://vk.com/hemerocallis">Вконтакте</a></li>
          <li><a href="">Twitter</a></li>
          <li><a href="">Instagram</a></li>
          <li><br></li>
          <li>Почта: hemerocallis-11@mail.ru</li>
      </ol>
  </div>
  <br><br>
</div>

{% endblock %}